<head>

</head>

<body>
  <header id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
          <h1>About Us</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, saepe.</p>
        </div>
      </div>
    </div>
  </header>

  <!-- ABOUT SECTION -->
  <section id="about" class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>What We Do</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum sequi necessitatibus deleniti accusamus provident dignissimos numquam fuga nulla quia voluptatibus, dolore voluptate excepturi accusantium dolores temporibus fugit, voluptas velit omnis!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum sequi necessitatibus deleniti accusamus provident dignissimos numquam fuga nulla quia voluptatibus, dolore voluptate excepturi accusantium dolores temporibus fugit, voluptas velit omnis!</p>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/img/scene-5.jpg" alt="" class="about-img img-fluid rounded-circle d-none d-md-block">
        </div>
      </div>
    </div>
  </section>

  <!-- ICON BOXES -->
  <section id="icon-boxes" class="p-5">
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-4">
          <div class="card bg-danger text-center text-white">
            <div class="card-body">
              <div class="row">                  
                <div class="col-md-4">
                  <img src="../../assets/img/god/ganesh-2.jpg" alt="" class="img-fluid rounded-circle">
                </div>
                <div class="col-md-8">
                    <i class="fa fa-bullhorn"></i>
                  <p>Pedda Manishi</p>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-danger text-center text-white">
            <div class="card-body">
              <div class="row">                  
                <div class="col-md-4">
                  <img src="../../assets/img/god/ganesh-2.jpg" alt="" class="img-fluid rounded-circle">
                </div>
                <div class="col-md-8">
                    <i class="fa fa-bullhorn"></i>
                  <p>Pedda Manishi</p>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-danger text-center text-white">
            <div class="card-body">
                <div class="row">                  
                  <div class="col-md-4">
                    <img src="../../assets/img/god/ganesh-2.jpg" alt="" class="img-fluid rounded-circle">
                  </div>
                  <div class="col-md-8">
                      <i class="fa fa-bullhorn"></i>
                    <p>Pedda Manishi</p>
                    
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-md-4">
          <div class="card bg-danger text-center text-white">
            <div class="card-body">
                <div class="row">                  
                  <div class="col-md-4">
                    <img src="../../assets/img/god/ganesh-2.jpg" alt="" class="img-fluid rounded-circle">
                  </div>
                  <div class="col-md-8">
                      <i class="fa fa-bullhorn"></i>
                    <p>Pedda Manishi</p>
                    
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-danger text-center text-white">
            <div class="card-body">
              <div class="row">                  
                <div class="col-md-4">
                  <img src="../../assets/img/god/ganesh-2.jpg" alt="" class="img-fluid rounded-circle">
                </div>
                <div class="col-md-8">
                    <i class="fa fa-bullhorn"></i>
                  <p>Pedda Manishi</p>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-danger text-center text-white">
            <div class="card-body">
              <div class="row">                  
                <div class="col-md-4">
                  <img src="../../assets/img/god/ganesh-2.jpg" alt="" class="img-fluid rounded-circle">
                </div>
                <div class="col-md-8">
                    <i class="fa fa-bullhorn"></i>
                  <p>Pedda Manishi</p>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- STAFF SECTION -->
  <section id="staff" class="py-5 text-center bg-info text-white">
      <div class="container">
        <h1>Grama Panchayathi Members..!</h1>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <img src="../../../assets/img/a-v.jpg" alt="" class="img-fluid rounded-circle mb-2">
            <h4>TBA</h4>
            <small class="">Surpanch</small>
          </div>
          <div class="col-md-3">
            <img src="../../../assets/img/a-v.jpg" alt="" class="img-fluid rounded-circle mb-2">
            <h4>TBA</h4>
            <small class="">Deputy Surpanch</small>
          </div>
          <div class="col-md-3">
            <img src="../../../assets/img/a-v.jpg" alt="" class="img-fluid rounded-circle mb-2">
            <h4>TBA</h4>
            <small class="">abc</small>
          </div>
          <div class="col-md-3">
            <img src="../../../assets/img/a-v.jpg" alt="" class="img-fluid rounded-circle mb-2">
            <h4>TBA</h4>
            <small class="">abc</small>
          </div>
        </div>
      </div>
    </section>

</body>