 <head>

 </head>

 <body>
     
 <!-- SHOWCASE SLIDER -->
 <section id="showcase">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="500">
        <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="3" ></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
        <div class="carousel-item carousel-image-5">
            <div class="container">
            <div class="carousel-caption d-none d-sm-block text-right mb-5">
                <!-- <h1 class="display-3 text-dark">Welcome to Ashta</h1> -->
                <!-- <p class="lead">Text to be added..!</p> -->
                <!-- <a href="#" class="btn btn-danger btn-lg">Home</a> -->
            </div>
            </div>
        </div>

        <div class="carousel-item carousel-image-1">
            <div class="container">
            <div class="carousel-caption d-none d-sm-block text-right mb-5">
                <h1 class="display-3">Galvanized Street Lights</h1>
                <p class="lead">Text to be added..!</p>
                <a href="#" class="btn btn-danger btn-lg">Sign Up Now</a>
            </div>
            </div>
        </div>

        <div class="carousel-item carousel-image-2">
            <div class="container">
            <div class="carousel-caption d-none d-sm-block mb-5">
                <h1 class="display-3">Video Surveillance</h1>
                <p class="lead">Text to be added..!</p>
                <a href="#" class="btn btn-primary btn-lg">Learn More</a>
            </div>
            </div>
        </div>

        <div class="carousel-item carousel-image-3 active">
            <div class="container">
            <div class="carousel-caption d-none d-sm-block text-right mb-5">
                <h1 class="display-3">Lift Irigation</h1>
                <p class="lead">Text to be added..!</p>
                <a href="#" class="btn btn-success btn-lg">Learn More</a>
            </div>
            </div>
        </div>

        <div class="carousel-item carousel-image-4">
            <div class="container">
            <div class="carousel-caption d-none d-sm-block text-right mb-5">
                <h1 class="display-3">Green Cultivation</h1>
                <p class="lead">Text to be added..!</p>
                <a href="#" class="btn btn-success btn-lg">Learn More</a>
            </div>
            </div>
        </div>

        </div>

        <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
        <span class="carousel-control-prev-icon"></span>
        </a>

        <a href="#myCarousel" data-slide="next" class="carousel-control-next">
        <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    </section>

    <!-- HOME ICON SECTION -->
  <section id="home-icons" class="py-5">
    <div class="container">
        <div class="row">
        <div class="col-md-4 mb-4 text-center">
            <i class="fa fa-lightbulb-o mb-2"></i>
            <h3>Galvanized Street Lights</h3>
            <p>First village to have implemented galvanized street lights in Telanagana state </p>
        </div>
        <div class="col-md-4 mb-4 text-center">
            <i class="fa fa-video-camera mb-2"></i>
            <h3>Video Survelliance</h3>
            <p>Text to be added..!</p>
        </div>
        <div class="col-md-4 mb-4 text-center">
            <i class="fa fa-tint mb-2"></i>
            <h3>Lift Irigation</h3>
            <p>Text to be added..!</p>
        </div>
        </div>
    </div>
    </section>

    <!-- HOME HEADING SECTION -->
    <section id="home-heading" class="p-5">
    <div class="dark-overlay">
        <div class="row">
        <div class="col">
            <div class="container pt-5">
            <h1>TBA</h1>
            <p class="d-none d-md-block">Text to be added..!</p>
            </div>
        </div>
        </div>
    </div>
    </section>

    <!-- INFO SECTION -->
    <section id="info" class="py-3">
            <div class="container marketing">
                    
                <!-- Three columns of text below the carousel -->
                <div class="row">
                <div class="col-md-3 col-sm-6 col-centered text-center">
                    <img class="rounded-circle" src="../assets/img/god/hanuman.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h2>Hanuman</h2>
                    <p>Temple1</p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-md-3 col-sm-6 col-centered text-center">
                    <img class="rounded-circle" src="../assets/img/god/krishna.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h2>Geetha-M</h2>
                    <p>Temple2</p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-md-3 col-sm-6 col-centered text-center">
                    <img class="rounded-circle" src="../assets/img/god/saibaba.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h2>Sai Baba</h2>
                    <p>Temple3</p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-md-3 col-sm-6 col-centered text-center">
                    <img class="rounded-circle" src="../assets/img/god/maa-durga.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h2>Pochamma</h2>
                    <p>Temple3</p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
                </div>
    <!-- <div class="container">
        <div class="row">
        <div class="col-md-6 align-self-center">
            <h3>TBA</h3>
            <p>Text to be added..!</p>
            <a href="#" class="btn btn-outline-danger btn-lg">Learn More</a>
        </div>
        <div class="col-md-6">
            <img src="../assets/img/scene-5.jpg" class="img-fluid" alt="">
        </div>
        </div>
    </div> -->
    </section>

    <!-- VIDEO PLAY SECTION -->
    <section id="video-play">
    <div class="dark-overlay">
        <div class="row">
        <div class="col">
            <div class="container p-5">
            <a
                href="#"
                class="video"
                data-video="https://www.youtube.com/embed/HnwsG9a5riA"
                data-toggle="modal"
                data-target="#videoModal"
            >
                <i class="fa fa-play"></i>
            </a>
            <h1>It will have Aireal view </h1>
            </div>
        </div>
        </div>
    </div>
    </section>

    <!-- PHOTO GALLERY -->
    <section id="gallery" class="py-5">
    <div class="container">
        <h1 class="text-center">Photo Gallery</h1>
        <p class="text-center text-muted"><small>*Photoes will be updated later</small></p>
        <div class="row mb-4" >
        <div class="col-md-4" >
            <a href="../../../assets/img/scene-8.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="../../../assets/img/scene-8.jpg" class="img-fluid" >
            </a>
        </div>
        <div class="col-md-4">
            <a href="../../../assets/img/ashta/nyc-mem.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="../../../assets/img/ashta/nyc-mem.jpg" class="img-fluid">
            </a>
        </div>
        <div class="col-md-4">
            <a href="../../../assets/img/scene-8.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="../../../assets/img/scene-8.jpg" class="img-fluid">
            </a>
        </div>
        </div>

        <div class="row mb-4">
        <div class="col-md-4">
            <a href="../../../assets/img/ashta/nyc-mem.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="../../../assets/img/ashta/nyc-mem.jpg" class="img-fluid">
            </a>
        </div>
        <div class="col-md-4">
            <a href="../../../assets/img/scene-8.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="../../../assets/img/scene-8.jpg" class="img-fluid">
            </a>
        </div>
        <div class="col-md-4">
            <a href="../../../assets/img/ashta/nyc-mem.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="../../../assets/img/ashta/nyc-mem.jpg" class="img-fluid">
            </a>
        </div>
        </div>
    </div>
    </section>
</body>