<head>

</head>
<body>
<div class="container py-2">
  <div class="row no-gutters">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title text-center text-justify">Durga Matha</h5>
          <hr>
          <section id="showcase">
            <div id="myCarousel-1" class="carousel slide" data-ride="carousel" data-interval="200">
              <ol class="carousel-indicators">
                <li data-target="#myCarousel-1" data-slide-to="0" ></li>
                <li data-target="#myCarousel-1" data-slide-to="1" class="active"></li>
                <li data-target="#myCarousel-1" data-slide-to="2" ></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item carousel-image-1 ">
                  <div class="container">
                    <div class="carousel-caption d-none d-sm-block text-right mb-5">
                      <!-- <h1 class="display-3 text-dark"> Ganapathi Fest</h1> -->
                      <a href="#" class="btn btn-primary btn-lg">Go to</a>
                    </div>
                  </div>
                </div>
                <div class="carousel-item carousel-image-2 active">
                  <div class="container">
                    <div class="carousel-caption d-none d-sm-block text-right mb-5">
                      <!-- <h1 class="display-3 text-dark"> Durga Matha Fest</h1> -->
                      <a href="#" class="btn btn-danger btn-lg">Go to</a>
                    </div>
                  </div>
                </div>

                <div class="carousel-item carousel-image-3">
                  <div class="container">
                    <div class="carousel-caption d-none d-sm-block text-right mb-5">
                      <!-- <h1 class="display-3 text-dark"> Bathukamma Fest</h1> -->
                      <a href="#" class="btn btn-secondary btn-lg">Go to</a>
                    </div>
                  </div>
                </div>
              </div>
                <a href="#myCarousel-1" data-slide="prev" class="carousel-control-prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a href="#myCarousel-1" data-slide="next" class="carousel-control-next">
                  <span class="carousel-control-next-icon"></span>
                </a>
            </div>
          </section>
        </div>
        <div class="card-body">
          <div id="accordion1" role="tablist">
            <!-- 2017 -->
            <div class="card">
              <div class="card-header" role="tab" id="heading1">
                <h5 class="mb-0"><a href="#collapseD1" data-parent="#accordion1" data-toggle="collapse">
                  2017
                </a></h5>
              </div>
      
              <div id="collapseD1" class="collapse show">
                <div class="card-body">
                  <p class="text-center">Details of 2017</p>
                  <ul>
                    <li>Idol sponcer : Surender Reddy Baddam</li>
                    <li>Laddu Winner : Surender Reddy Baddam</li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- 2016 -->
            <div class="card">
              <div class="card-header" role="tab" id="heading1">
                <h5 class="mb-0"><a href="#collapseD2" data-parent="#accordion1" data-toggle="collapse">
                  2016
                </a></h5>
              </div>
      
              <div id="collapseD2" class="collapse">
                <div class="card-body">
                  <p class="text-center">Details of 2016</p>
                  <ul>
                    <li>Idol sponcer : Surender Reddy Baddam</li>
                    <li>Laddu Winner : Surender Reddy Baddam</li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- 2015 -->
            <div class="card">
              <div class="card-header" role="tab" id="heading1">
                <h5 class="mb-0"><a href="#collapseD3" data-parent="#accordion1" data-toggle="collapse">
                  2015
                </a></h5>
              </div>
      
              <div id="collapseD3" class="collapse">
                <div class="card-body">
                  <p class="text-center">Details of 2016</p>
                  <ul>
                    <li>Idol sponcer : Surender Reddy Baddam</li>
                    <li>Laddu Winner : Surender Reddy Baddam</li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- 2014 -->
            <div class="card">
              <div class="card-header" role="tab" id="heading1">
                <h5 class="mb-0"><a href="#collapseD4" data-parent="#accordion1" data-toggle="collapse">
                  2014
                </a></h5>
              </div>
      
              <div id="collapseD4" class="collapse">
                <div class="card-body">
                  <p class="text-center">Details of 2014</p>
                  <ul>
                    <li>Idol sponcer : Surender Reddy Baddam</li>
                    <li>Laddu Winner : Surender Reddy Baddam</li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- 2013 -->
            <div class="card">
              <div class="card-header" role="tab" id="heading1">
                <h5 class="mb-0"><a href="#collapseD5" data-parent="#accordion1" data-toggle="collapse">
                  2013
                </a></h5>
              </div>
      
              <div id="collapseD5" class="collapse">
                <div class="card-body">
                  <p class="text-center">Details of 2013</p>
                  <ul>
                    <li>Idol sponcer : Lingareddy Annela</li>
                    <li>Laddu Winner : Lingareddy Annela</li>
                  </ul>
                </div>
              </div>
            </div>

              <!-- 2012 -->
            <div class="card">
              <div class="card-header" role="tab" id="heading1">
                <h5 class="mb-0"><a href="#collapseD6" data-parent="#accordion1" data-toggle="collapse">
                  2012
                </a></h5>
              </div>
      
              <div id="collapseD6" class="collapse">
                <div class="card-body">
                  <p class="text-center">Details of 2012</p>
                  <ul>
                    <li>Idol sponcer : Surender Reddy Baddam</li>
                    <li>Laddu Winner : Surender Reddy Baddam</li>
                  </ul>
                </div>
              </div>
            </div>

              <!-- 2011 -->
            <div class="card">
              <div class="card-header" role="tab" id="heading1">
                <h5 class="mb-0"><a href="#collapseD7" data-parent="#accordion1" data-toggle="collapse">
                  2011
                </a></h5>
              </div>
      
              <div id="collapseD7" class="collapse">
                <div class="card-body">
                  <p class="text-center">Details of 2011</p>
                  <ul>
                    <li>Idol sponcer : Surender Reddy Baddam</li>
                    <li>Laddu Winner : Surender Reddy Baddam</li>
                  </ul>
                </div>
              </div>
            </div>

              <!-- 2010 -->
            <div class="card">
              <div class="card-header" role="tab" id="heading1">
                <h5 class="mb-0"><a href="#collapseD8" data-parent="#accordion1" data-toggle="collapse">
                  2010
                </a></h5>
              </div>
      
              <div id="collapseD8" class="collapse">
                <div class="card-body">
                  <p class="text-center">Details of 2010</p>
                  <ul>
                    <li>Idol sponcer : Surender Reddy Baddam</li>
                    <li>Laddu Winner : Surender Reddy Baddam</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
      </div>
      </div>
    </div>

  <!-- Section-2 -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title text-center text-justify">Ganapathi</h5>
          <hr>
          <section id="showcase">
            <div id="myCarousel-2" class="carousel slide" data-ride="carousel" data-interval="200">
              <ol class="carousel-indicators">
                <li data-target="#myCarousel-2" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel-2" data-slide-to="1" ></li>
                <li data-target="#myCarousel-2" data-slide-to="2" ></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item carousel-image-1 active">
                  <div class="container">
                    <div class="carousel-caption d-none d-sm-block text-right mb-5">
                      <!-- <h1 class="display-3 text-dark"> Ganapathi Fest</h1> -->
                      <a href="#" class="btn btn-primary btn-lg">Go to</a>
                    </div>
                  </div>
                </div>
                <div class="carousel-item carousel-image-2">
                  <div class="container">
                    <div class="carousel-caption d-none d-sm-block text-right mb-5">
                      <!-- <h1 class="display-3 text-dark"> Durga Matha Fest</h1> -->
                      <a href="#" class="btn btn-danger btn-lg">Go to</a>
                    </div>
                  </div>
                </div>

                <div class="carousel-item carousel-image-3">
                  <div class="container">
                    <div class="carousel-caption d-none d-sm-block text-right mb-5">
                      <!-- <h1 class="display-3 text-dark"> Bathukamma Fest</h1> -->
                      <a href="#" class="btn btn-secondary btn-lg">Go to</a>
                    </div>
                  </div>
                </div>
              </div>
                <a href="#myCarousel-2" data-slide="prev" class="carousel-control-prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a href="#myCarousel-2" data-slide="next" class="carousel-control-next">
                  <span class="carousel-control-next-icon"></span>
                </a>
            </div>
          </section>
        </div>
        <div class="card-body">
          <div id="accordion2" role="tablist">
            <!-- 2017 -->
            <div class="card">
              <div class="card-header" role="tab" id="heading2">
                <h5 class="mb-0"><a href="#collapse1" data-parent="#accordion2" data-toggle="collapse">
                  2017
                </a></h5>
              </div>
      
              <div id="collapse1" class="collapse show">
                <div class="card-body">
                  <p class="text-center">Details of 2017</p>
                  <ul>
                    <li>Idol sponcer : Surender Reddy Baddam</li>
                    <li>Laddu Winner : Surender Reddy Baddam</li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- 2016 -->
            <div class="card">
              <div class="card-header" role="tab" id="heading2">
                <h5 class="mb-0"><a href="#collapse2" data-parent="#accordion2" data-toggle="collapse">
                  2016
                </a></h5>
              </div>
      
              <div id="collapse2" class="collapse">
                <div class="card-body">
                  <p class="text-center">Details of 2016</p>
                  <ul>
                    <li>Idol sponcer : Surender Reddy Baddam</li>
                    <li>Laddu Winner : Surender Reddy Baddam</li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- 2015 -->
            <div class="card">
              <div class="card-header" role="tab" id="heading2">
                <h5 class="mb-0"><a href="#collapse3" data-parent="#accordion2" data-toggle="collapse">
                  2015
                </a></h5>
              </div>
      
              <div id="collapse3" class="collapse">
                <div class="card-body">
                  <p class="text-center">Details of 2016</p>
                  <ul>
                    <li>Idol sponcer : Surender Reddy Baddam</li>
                    <li>Laddu Winner : Surender Reddy Baddam</li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- 2014 -->
            <div class="card">
              <div class="card-header" role="tab" id="heading2">
                <h5 class="mb-0"><a href="#collapse4" data-parent="#accordion2" data-toggle="collapse">
                  2014
                </a></h5>
              </div>
      
              <div id="collapse4" class="collapse">
                <div class="card-body">
                  <p class="text-center">Details of 2014</p>
                  <ul>
                    <li>Idol sponcer : Surender Reddy Baddam</li>
                    <li>Laddu Winner : Surender Reddy Baddam</li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- 2013 -->
            <div class="card">
              <div class="card-header" role="tab" id="heading2">
                <h5 class="mb-0"><a href="#collapse5" data-parent="#accordion2" data-toggle="collapse">
                  2013
                </a></h5>
              </div>
      
              <div id="collapse5" class="collapse">
                <div class="card-body">
                  <p class="text-center">Details of 2013</p>
                  <ul>
                    <li>Idol sponcer : Lingareddy Annela</li>
                    <li>Laddu Winner : Lingareddy Annela</li>
                  </ul>
                </div>
              </div>
            </div>

              <!-- 2012 -->
            <div class="card">
              <div class="card-header" role="tab" id="heading2">
                <h5 class="mb-0"><a href="#collapse6" data-parent="#accordion2" data-toggle="collapse">
                  2012
                </a></h5>
              </div>
      
              <div id="collapse6" class="collapse">
                <div class="card-body">
                  <p class="text-center">Details of 2012</p>
                  <ul>
                    <li>Idol sponcer : Surender Reddy Baddam</li>
                    <li>Laddu Winner : Surender Reddy Baddam</li>
                  </ul>
                </div>
              </div>
            </div>

              <!-- 2011 -->
            <div class="card">
              <div class="card-header" role="tab" id="heading2">
                <h5 class="mb-0"><a href="#collapse7" data-parent="#accordion2" data-toggle="collapse">
                  2011
                </a></h5>
              </div>
      
              <div id="collapse7" class="collapse">
                <div class="card-body">
                  <p class="text-center">Details of 2011</p>
                  <ul>
                    <li>Idol sponcer : Surender Reddy Baddam</li>
                    <li>Laddu Winner : Surender Reddy Baddam</li>
                  </ul>
                </div>
              </div>
            </div>

              <!-- 2010 -->
            <div class="card">
              <div class="card-header" role="tab" id="heading2">
                <h5 class="mb-0"><a href="#collapse8" data-parent="#accordion2" data-toggle="collapse">
                  2010
                </a></h5>
              </div>
      
              <div id="collapse8" class="collapse">
                <div class="card-body">
                  <p class="text-center">Details of 2010</p>
                  <ul>
                    <li>Idol sponcer : Surender Reddy Baddam</li>
                    <li>Laddu Winner : Surender Reddy Baddam</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
      </div>
      </div>
    </div>

    <!-- Section-3 -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title text-center text-justify">Bathukamma</h5>
          <hr>
          <section id="showcase">
            <div id="myCarousel-3" class="carousel slide" data-ride="carousel" data-interval="200">
              <ol class="carousel-indicators">
                <li data-target="#myCarousel-3" data-slide-to="0" ></li>
                <li data-target="#myCarousel-3" data-slide-to="1" ></li>
                <li data-target="#myCarousel-3" data-slide-to="2" class="active"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item carousel-image-1 ">
                  <div class="container">
                    <div class="carousel-caption d-none d-sm-block text-right mb-5">
                      <!-- <h1 class="display-3 text-dark"> Ganapathi Fest</h1> -->
                      <a href="#" class="btn btn-primary btn-lg">Go to</a>
                    </div>
                  </div>
                </div>
                <div class="carousel-item carousel-image-2">
                  <div class="container">
                    <div class="carousel-caption d-none d-sm-block text-right mb-5">
                      <!-- <h1 class="display-3 text-dark"> Durga Matha Fest</h1> -->
                      <a href="#" class="btn btn-danger btn-lg">Go to</a>
                    </div>
                  </div>
                </div>

                <div class="carousel-item carousel-image-3 active">
                  <div class="container">
                    <div class="carousel-caption d-none d-sm-block text-right mb-5">
                      <!-- <h1 class="display-3 text-dark"> Bathukamma Fest</h1> -->
                      <a href="#" class="btn btn-secondary btn-lg">Go to</a>
                    </div>
                  </div>
                </div>
              </div>
                <a href="#myCarousel-3" data-slide="prev" class="carousel-control-prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a href="#myCarousel-3" data-slide="next" class="carousel-control-next">
                  <span class="carousel-control-next-icon"></span>
                </a>
            </div>
          </section>
        </div>
        <div class="card-body">
          <div id="accordion3" role="tablist">
            <!-- 2017 -->
            <div class="card">
              <div class="card-header" role="tab" id="heading3">
                <h5 class="mb-0"><a href="#collapseB1" data-parent="#accordion3" data-toggle="collapse">
                  2017
                </a></h5>
              </div>
      
              <div id="collapseB1" class="collapse show">
                <div class="card-body">
                  <p class="text-center">Details of 2017</p>
                  <ul>
                    <li>Idol sponcer : Surender Reddy Baddam</li>
                    <li>Laddu Winner : Surender Reddy Baddam</li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- 2016 -->
            <div class="card">
              <div class="card-header" role="tab" id="heading3">
                <h5 class="mb-0"><a href="#collapseB2" data-parent="#accordion3" data-toggle="collapse">
                  2016
                </a></h5>
              </div>
      
              <div id="collapseB2" class="collapse">
                <div class="card-body">
                  <p class="text-center">Details of 2016</p>
                  <ul>
                    <li>Idol sponcer : Surender Reddy Baddam</li>
                    <li>Laddu Winner : Surender Reddy Baddam</li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- 2015 -->
            <div class="card">
              <div class="card-header" role="tab" id="heading3">
                <h5 class="mb-0"><a href="#collapseB3" data-parent="#accordion3" data-toggle="collapse">
                  2015
                </a></h5>
              </div>
      
              <div id="collapseB3" class="collapse">
                <div class="card-body">
                  <p class="text-center">Details of 2016</p>
                  <ul>
                    <li>Idol sponcer : Surender Reddy Baddam</li>
                    <li>Laddu Winner : Surender Reddy Baddam</li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- 2014 -->
            <div class="card">
              <div class="card-header" role="tab" id="heading3">
                <h5 class="mb-0"><a href="#collapseB4" data-parent="#accordion3" data-toggle="collapse">
                  2014
                </a></h5>
              </div>
      
              <div id="collapseB4" class="collapse">
                <div class="card-body">
                  <p class="text-center">Details of 2014</p>
                  <ul>
                    <li>Idol sponcer : Surender Reddy Baddam</li>
                    <li>Laddu Winner : Surender Reddy Baddam</li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- 2013 -->
            <div class="card">
              <div class="card-header" role="tab" id="heading3">
                <h5 class="mb-0"><a href="#collapseB5" data-parent="#accordion3" data-toggle="collapse">
                  2013
                </a></h5>
              </div>
      
              <div id="collapseB5" class="collapse">
                <div class="card-body">
                  <p class="text-center">Details of 2013</p>
                  <ul>
                    <li>Idol sponcer : Lingareddy Annela</li>
                    <li>Laddu Winner : Lingareddy Annela</li>
                  </ul>
                </div>
              </div>
            </div>

              <!-- 2012 -->
            <div class="card">
              <div class="card-header" role="tab" id="heading3">
                <h5 class="mb-0"><a href="#collapseB6" data-parent="#accordion3" data-toggle="collapse">
                  2012
                </a></h5>
              </div>
      
              <div id="collapseB6" class="collapse">
                <div class="card-body">
                  <p class="text-center">Details of 2012</p>
                  <ul>
                    <li>Idol sponcer : Surender Reddy Baddam</li>
                    <li>Laddu Winner : Surender Reddy Baddam</li>
                  </ul>
                </div>
              </div>
            </div>

              <!-- 2011 -->
            <div class="card">
              <div class="card-header" role="tab" id="heading3">
                <h5 class="mb-0"><a href="#collapseB7" data-parent="#accordion3" data-toggle="collapse">
                  2011
                </a></h5>
              </div>
      
              <div id="collapseB7" class="collapse">
                <div class="card-body">
                  <p class="text-center">Details of 2011</p>
                  <ul>
                    <li>Idol sponcer : Surender Reddy Baddam</li>
                    <li>Laddu Winner : Surender Reddy Baddam</li>
                  </ul>
                </div>
              </div>
            </div>

              <!-- 2010 -->
            <div class="card">
              <div class="card-header" role="tab" id="heading3">
                <h5 class="mb-0"><a href="#collapseB8" data-parent="#accordion3" data-toggle="collapse">
                  2010
                </a></h5>
              </div>
      
              <div id="collapseB8" class="collapse">
                <div class="card-body">
                  <p class="text-center">Details of 2010</p>
                  <ul>
                    <li>Idol sponcer : Surender Reddy Baddam</li>
                    <li>Laddu Winner : Surender Reddy Baddam</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
