.carousel-item {
    height: 450px;
 }

 .carousel-inner{
    width:100%;
    max-height: 300px !important;
  }
  
 .carousel-image-1 {
    background: url("../../../assets/img/god/ganesh-5.jpg");
    background-size: cover; 
    
    /* background-size: 100px 10px cover; */
}

.carousel-image-2 {
    background: url("../../../assets/img/god/maa-durga.jpg");
    background-size: cover;
    
}

.carousel-image-3 {
    background: url("../../../assets/img/god/saibaba.jpg");
    background-size: cover;
    width: 100%;
}

    