<div class="container">
 <div class="row ">
    <div class="col-md-6 text-success">
      <h2><i class="fa fa-users text-success"></i> Clients</h2>
    </div>
    <!-- <div class="col-md-6">
      <h5 class="text-right text-secondary">Total Population : </h5>
    </div> -->
  </div>
  <table *ngIf="clients?.length > 0;else noClients" 
    class="table table-bordered table-sm table-hover">
    <!-- class="table table-bordered table-dark table-sm table-hover table-striped" -->
    
    <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>Full Name</th>
        <th>Also Called As(A.K.A)</th>
        <th>Gender</th>
        <th>Age(Years)</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients 
                  | paginate: { itemsPerPage: 10, currentPage: p } 
                  ; let i= index" class="text-dark">
        <!-- <ng-template [ngIf]="client.gender == 'Female'"> -->
          <td>{{ i+1 }}</td>
          <td>{{client.firstName}} {{client.lastName}} </td>
          <td>{{client.aka}}</td>
          <td> {{client.gender}}</td>
          <td> {{client.age}} </td>
          <td> 
            <a 
              [routerLink]="['/client/'+client.key]" href="" class="btn btn-success btn-sm"><i class="fa fa-arrow-circle-o-right"></i> Details
            </a>
            <!-- <div class="btn-group">
              <section id="action" class="bg-light">
                <div class="container">
                  <div class="row">
                    <div class="col-md-3">
                      <a [routerLink]="['/client/'+client.key]" href="" class="btn btn-success btn-sm"><i class="fa fa-arrow-circle-o-right"></i> Details</a>
                    </div>
                    <div class="col-md-3">
                      <a href="#" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#addPostModal"><i class="fa fa-arrow-circle-o-right"></i> Edit</a>
                    </div>
                    <div class="col-md-3">
                      <button class="btn btn-danger btn-sm" (click) = onDeleteClick(client.key)><i class="fa fa-arrow-circle-o-right"></i> Delete</button>
                    </div>
                  </div>
                </div>
              </section>
            </div>  -->
            <!-- <div class="btn-group ">
              <a [routerLink]="['/client/'+client.key]" href="" class="btn btn-success btn-sm"><i class="fa fa-arrow-circle-o-right"></i> Details</a>
              <a [routerLink]="['/client/'+client.key]" href="" class="btn btn-warning btn-sm"><i class="fa fa-arrow-circle-o-right"></i> Edit</a>
              <a [routerLink]="['/client/'+client.key]" href="" class="btn btn-danger btn-sm"><i class="fa fa-arrow-circle-o-right"></i> Delete</a>
            </div> -->
          </td>            
            <!-- </ng-template> -->
          </tr>
    </tbody>
  </table>
  
  <ng-template #noClients>
    <hr>
    <h5>There are no clients in the system</h5>
  </ng-template>
  <pagination-controls (pageChange) = "p = $event"> </pagination-controls>
</div>


